*.swp
game-bit-duo.sfd
game-bit-duo.ttf
game-bit-mono.sfd
game-bit-mono.ttf
README.html
_targets/
png/code_charts/*.png
png/code_charts/*.png
png/code_charts/*.png
png/code_charts/*.png
pdf/*.aux
pdf/*.log
pdf/*.out
pdf/*.pdf
pdf/*.toc
pdf/*.xelatex
